*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
    .body{
        position: relative;
        background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/00103100-5b45-4d4f-af32-342649f1bda5/64774cd8-5c3a-4823-a0bb-1610d6971bd4/IN-en-20230821-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200vh 150vh;
        filter: brightness(70%);
        
    }
    .ab{
        position: absolute;
        left: 12%;
        margin-top: 20px;
        width: 160px;
    }
.bu {
    
    background-color: rgb(33, 30, 30);
    color: white;
    filter: brightness(1);
    position: absolute;
    left: 70%;
    margin-top: 20px;
    width: 130px;
    height: 30px;
    border: .1px solid rgb(159, 152, 152);
    font-size: 20px;
    
}

.in{
    background-color: rgb(229,9,20);
    color: white;
    position: absolute;
    left: 83%;
    margin-top: 20px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}
.h1{
    color: white;
    position: relative;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 5%;
    right: 6%;
    font-size: 30px;
    align-items: center;
    
}
.email{
    position: relative;    
    width: 400px;
    height: 60px;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(21, 20, 20);
    color: white;
    opacity: .8;
    border: 1px solid white;
    
}
.get{
    background-color: rgb(229,9,20);
    width: 200px;
    height: 60px;
    margin-left: 20px;
    font-size: 25px;
    color: white;
}
.footer{
    color: white;
    font-size: 30px;    
    background-color: black;   
    
}
hr{
    border: 5px solid rgb(31, 30, 30);
}
.text-video{
    display: flex;
    text-align: center;  
    background-color: black;
background-position: center;
padding: 60px;

}
.text{
    position: absolute;
    text-align: center;
    margin-top: 60px;
    margin-left: 15px;


    

}
.video img{
      margin-left: 600px;
    width: 450px;
    left: 70%;
}
.img-text{
    display: flex;
    padding: 30px;
    height: 60%;
}
.pic{
    position: absolute;
    margin-top: 100px;
    left: 50%;
}
.img{
    width: 50px;
    
}
.tap {
    text-align: left;
    margin-left: 12%;    
    width: 75%;
    font-size: 30px;
    height: 90px;
    background-color: rgb(29, 28, 28);
    border: 5px solid black;
    color: white; 
    box-sizing: content-box;
    align-content: center;
      

}
.tap img{
    position: relative;
    position: absolute;
    align-items: end;
    left: 82%;
    
}
span{
    margin-left: 77%;
}
.but{
    margin-left: 26%;
}
.FA{
    margin-left: 14%;
    font-size: 15px;    
    color: white;
}
nav{
    display: flex;    
    margin-left: 11%;
    margin-right: 11%;
}
.abc{
    width: 250px;
}
.def{
    width: 250px;
}
.ghi{
    width: 250px;
}
.rb{
      background-color: rgb(17, 15, 15); 
      width: 135px; 
      height: 35px;
      color: white;
      border: 3px solid rgb(79, 77, 77);
      margin-left: 180px;
      font-size: 20px;
      border-radius: 5px;
}
